<%# 投稿フォーム %>
<%= form_for(task,url: path) do |f| %>
    <div class="form-group">
        <%= f.label :name, 'タイトル' %>
        <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :body, 'Task内容' %>
        <%= f.text_field :body, class: 'form-control' %>
    </div>
    <div class="form-group">
    <label class="control-label">Task完了日</label>
    <%= f.date_select :end_date, {}%>
    </div>

    <%= f.submit text, class: 'btn btn-primary ' %>
<% end %>
