<%= notice %>

<h2>Task登録フォーム</h2>

<%# エラーメッセージがあった場合に表示させる %>
<%= render partial: 'layouts/errors', locals: { task: @task } %>

<%# 投稿フォーム %>
<%= render partial: 'form', locals: { task: @task, text: '編集',path: tasks_path } %>

<%# Task詳細数 %>
<h2>Task数</h2>
<p>
  現在抱えているTask数は<%= @tasks.count %>個です。
</p>

<!-- Task一覧 -->
<h2>Task一覧</h2>
<table class="table">
  <thead>
    <tr>
      <th>タイトル</th><th>本文</th><th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |tasks| %>
    <tr>
      <td>
        <%= tasks.name %>
      </td>
      <td>
        <%= tasks.body %>
      </td>
      <td>
        <%= link_to '詳細',edit_task_path(tasks),class: 'btn btn-success' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
