<%# Task詳細数 %>
<%= notice %>

<!-- Task一覧 -->
<h2 class='text-center mt-4 mb-4' >Task一覧</h2>
<table class="table">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>本文</th>
      <th>登録日時</th>
      <th>完了日時</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |tasks| %>
    <tr>
      <td>
        <%= tasks.name %>
      </td>
      <td>
        <%= tasks.body %>
      </td>
      <td class='time'>
        <%= tasks.created_at.to_s(:datetime_jp)  %>
      </td>
      <td>
        <%= tasks.end_date %>
      </td>
      <td>
        <%= link_to '詳細',edit_task_path(tasks),class: 'btn btn-success' %>
      </td>
      <td>
        <%= link_to '削除',task_path(tasks), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"},class: 'btn btn-danger' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<script>
  <%# NumberOfTasks(); %>
</script>
