<div class="row">
  <div class="col-xs-3">
    <div class=".chat-group-form">
      <h2>新規チャットグループ</h2>
      <%= form_for @group do |f| %>
      <div class="chat-group-form__field">
        <div class="chat-group-form__field--left">
          <%= f.label :name, "グループ名", class: 'chat-group-form__label' %>
          <div class="chat-group-form__field--right">
            <%= f.text_field :name, class: 'chat__group_name chat-group-form__input', placeholder: 'グループ名を入力してください' %>
          </div>
        </div>
      </div>
      <div class="chat-group-form__field.clearfix">
        <div class="chat-group-form__field.clearfix">
          <div class="chat-group-form__field--left">
            <%= f.label "グループメンバー", class: "chat-group-form__label" %>
          </div>
          <div class="chat-group-form__field--right">
            <%= f.collection_check_boxes :user_ids, User.all, :id, :name %>
          </div>
        </div>
      </div>
      <div class="chat-group-form__field.clearfix">
        <div class="chat-group-form__field--left">
          <div class="chat-group-form__field--right">
            <%= f.submit class: 'chat-group-form__action-btn' %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-xs-9">
    <h2>参加しているグループ一覧</h2>
    <table class="table">
      <thead>
        <tr>
          <th>グループ名</th><th></th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |groups| %>
        <tr>
          <td>
            <%= groups.name %>
          </td>
          <td>
            
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
