<div>
  <h2>ようこそTask_appへ</h2>
  <p>さあ、数あるタスクを管理し仕事を効率よくこなしていきましょう！</p>
</div>
<div>
  <p>Task_appサービスの詳細についてはこちらをクリックしたください！</p>
  <%= link_to '詳細',homes_about_path,class: 'btn btn-info' %>
</div>
<div>
  <%= link_to '新規館員登録'new_user_registration_path,class: 'btn btn-success' %>
</div>
<div>
  <%= link_to 'ログイン'new_user_session_path,class: 'btn btn-primary' %>
</div>
<h2>Task_appサービスについて</h2>

<div>
  <h3>サービス内容</h3>
  <p>
    みなさん、以下のようなご経験はございませんか？<br>
    ・抱えているTaskが多過ぎて何から手をつけていいのかわからなくなる。<br>
    ・Taskの数の多さから、Taskが漏れてしまったこと<br>
    もしこのようなご経験がある方はこのサービスで解消することができます。<br>
    このTask_appサービスはTask管理アプリです。<br>
    Task_appでは現在抱えているTaskをTask_appに書き出しTaskの可視化を行えます。<br>
    もちろん書き出したTaskは編集、削除、も行えます。
    又、他のTask管理アプリと違いチームでのTask管理も行えるようになっています。<br>
    さあ、Task_appでTaskを管理して仕事の効率化、ミスをなくしていきましょう！
  </p>
</div>
<div>
  <h3>Task_appでできること</h3>
  <ul>
    <li>
      タスクをWeb上に描き出せる。
      抱えているタスクの数を可視化できる。
      チームでタスクを管理できる。
      チームないですぐに連絡をとりたい際にメッセージを送ることができる。
      csvファイルにTaskデータを出力、取り込みできる。
    </li>
  </ul>
</div>
<div>
  <h3>Task_appのご利用に向いている方</h3>
  <ul>
    <li>
      Task管理を行いたいと思っている方
    </li>
    <li>
      日々のTask数が多く困っている方。
    </li>
    <li>
      テームでTask管理を行いたいと思っている方
    </li>
  </ul>
</div>
<div>
  <h4>さあ、Task_appを利用してみよう!</h4>
  <%= link_to '新規館員登録'new_user_registration_path,class: 'btn btn-success' %>
  <%= link_to 'ログイン'new_user_session_path,class: 'btn btn-primary' %>
</div>
