<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse bg-dark">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <span>Tasks</span>
        </nav>
        <nav>
          <ul class="navbar-nav ">
            <% if user_signed_in? %>
              <li class="nav-item"><%= link_to ' 個人Task一覧', tasks_path %></li>
              <li class="nav-item"><%= link_to ' 個人Task投稿', new_task_path %></li>
              <li class="nav-item"><%= link_to ' チームTask', new_group_path %></li>
              <li class="nav-item"><%= link_to ' ユーザー情報', users_path %></li>
              <li class="nav-item"><%= link_to ' ログアウト', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li class="nav-item"><%= link_to ' Top', root_path %></li>
              <li class="nav-item"><%= link_to ' About', homes_about_path %></li>
              <li class="nav-item"><%= link_to ' 新規登録', new_user_registration_path %></li>
              <li class="nav-item"><%= link_to ' ログイン', new_user_session_path %></li>
            <% end %>
          </ul>
        </nav>

      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
